@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global color variables */
:root {
  --primary: #1a81f3;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-nunitoSans);
  color: var(--text-color); */
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Ensure images fill their containers */
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
input,
textarea {
  border: 1px solid #ffffff33;
  border-radius: 5px;
  background-color: #ffffff0d;
  color: white;
  outline: none;
  padding: 12px 14px;
  resize: none;
}
input::placeholder,
textarea::placeholder {
  color: #ffffff99;
  /* background-color: aqua; */
}

@media only screen and (max-width: 900px) {
  .warpper {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Remove spinner buttons on IE */
input[type='number'] {
  -ms-appearance: textfield;
}

.error {
  font-size: 12px !important;
  position: absolute;
  text-align: left;
}
