@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global color variables */
:root {
  --crayola: #1a81f3;
  --text-color: #fef7f7;
  --header-bg: #2d2d2d7a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-proximaNova);
  color: var(--text-color);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: white;
}

h1 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 24px;
}

.blue-glow {
  position: absolute;
  transform: translateY(50%);
  width: 400px;
  height: 450px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(26, 129, 243, 0.6) 0%, rgba(26, 129, 243, 0) 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}
/* Remove spinner buttons on IE */
input[type='number'] {
  -ms-appearance: textfield;
}

.error {
  font-size: 12px !important;
  position: absolute;
  text-align: left;
}
